<h1>Spiderman</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  *ngIf="name === 'Ironman'"
  class="btn btn-primary mx-2"
  (click)= "changeHero('ddfs')"
>
  Cambiar Nombre
</button>

<button
  class="btn btn-primary mx-2"
  (click)= "changeAge(34)"
>
  Cambiar Edad
</button>

<button
  class="btn btn-primary"
  (click)= "resetForm()"
>
  Reset
</button>
